.icon__container {
  top: 50px;
  left: 20px;
  border: 1px solid #b6ff7c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    color: #add8e6;
    width: 20px;
    height: 20px;
  }
}
