.detail__container {
  height: 70vh;
  background-size: cover !important;
  position: relative;
  width: 100%;
  .data__detail {
    color: white !important;
    flex-wrap: wrap !important;
    /* height: 250px; */
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    position: absolute;
    bottom: -25%;
    transform: translate(-50%);
    left: 50%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    .image__detail {
      width: 170px;
      height: 220px;
      .image__detail2 {
        width: 170px;
        height: 220px;
      }
    }
    .content__detail {
      width: 80%;
      .genre__detail {
        border: 1px solid #b6ff7c;
        border-radius: 12px;
        padding: 4px !important;
        font-size: 12px !important;
      }
      .overview__detail {
        font-size: 12px !important;
      }
    }
  }
}

/* Content Detail  */
.content__detail__container {
  margin-top: 10rem;
}

.card__recommendation {
  width: 360px;
  min-height: 400px;
  background-color: yellowgreen !important;
  border-radius: 20px;
}

.top__content__recommendation {
  width: 100%;
  /* height: 200px; */
}

.image__recommendation {
  width: 70px;
  height: 70px;
}

.image__recommendation2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* background: yellow !important; */
}

.middle__content__recommendation {
  font-size: 8px;
}

.bottom__content__recommendation {
  justify-self: flex-end !important;
  justify-content: flex-end !important;
  align-self: flex-end;
}
